<div class="container text-center">


<%= form_for(@user, url: reset_path) do |f|%>
<br>

<div class="form-group">

      <%= f.label(:password, class: "control-label") %>
      <%= f.password_field(:password, autofocus: true, class: "form-control") %>
</div>
<div class="form-group">

      <%= f.label(:password_confirmation, class: "control-label") %>
      <%= f.password_field(:password_confirmation, class: "form-control") %>
</div>
<div class="form-group">

      <%= f.submit("Edit this", class: "btn btn-info") %>
</div>

  <% end %>